# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
my-env/
pgvenv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
#*.ipynb
./Generate_PGV_Map copy.ipynb
./a.ipnyb

# Data files
*.npz
*.npy
data/

# Logs and model checkpoints
*.log
*.pth
*.pt
*.ckpt
results/
pgvtrial/

# IDE and Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Packaging/build
build/
dist/
*.egg-info/
